.products {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media (min-width: 1200px) {
        justify-content: space-between;
    }
}