$font-base: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-exo: 'Exo 2', sans-serif;

$color-default: #1698d9;
$color-default-hover: #2ea8e6;
$color-selected: #d91667;
$color-selected-hover: #e62e7a;